<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Área Personal</title>
    <link rel="stylesheet" href="/css/area_personal.css">
</head>
<body>
<h1>Bienvenido a tu Área Personal</h1>

<p th:if="${#authentication.principal != 'anonymousUser'}">
    Correo electrónico: <span th:text="${#authentication.principal.username}"></span>
</p>
<p th:unless="${#authentication.principal != 'anonymousUser'}">
    Usuario no identificado.
</p>

<div class="botones-container">
    <form th:action="@{/logout}" method="post" style="display:inline;">
        <button type="submit" class="boton-desconectar">Desconectar</button>
    </form>
    <a href="/registro_empleado_paso1" class="boton-registro">Registrarte como empleado</a>
</div>
</body>
</html>