<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registro y Creación de Usuario</title>
    <link rel="stylesheet" href="/css/crear_usuario.css">
</head>
<body>
<h1>Registro y Creación de Usuario</h1>

<div class="container">

    <div th:if="${error}" class="error-message outside-container">
        <p th:text="${error}"></p>
    </div>

    <div th:if="${mensaje}" class="success-message outside-container">
        <p th:text="${mensaje}"></p>
    </div>

    <form th:action="@{/registrar_usuario_post}" method="post" th:object="${usuarioRegistroDTO}">
        <div class="error-message outside-container" th:if="${#fields.hasGlobalErrors()}">
            <p th:each="err : ${#fields.globalErrors()}" th:text="${err.defaultMessage}"></p>
        </div>

        <div class="form-group">
            <label for="email">Correo electrónico:</label>
            <input type="email" id="email" th:field="*{email}">
            <div class="error-message" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
        </div>

        <div class="form-group">
            <label for="password">Contraseña:</label>
            <input type="password" id="password" th:field="*{password}">
            <div class="error-message" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        </div>

        <div class="form-group show-password-group">
            <input type="checkbox" id="showPassword">
            <label for="showPassword">Mostrar contraseña</label>
        </div>

        <div class="form-group">
            <label for="confirmPassword">Confirmar contraseña:</label>
            <input type="password" id="confirmPassword" th:field="*{confirmPassword}">
            <div class="error-message" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></div>
        </div>

        <div class="form-group show-confirm-password-group">
            <input type="checkbox" id="showConfirmPassword">
            <label for="showConfirmPassword">Mostrar confirmar contraseña</label>
        </div>

        <button type="submit">Registrar Usuario</button>
        <button type="reset">Limpiar Formulario</button>

        <p>¿Ya tienes una cuenta? <a th:href="@{/autenticacion/paso1}">Iniciar Sesión</a></p>
    </form>
</div>

<script>
    // Obtiene la referencia al input de la contraseña
    const passwordInput = document.getElementById('password');
    // Obtiene la referencia al checkbox de mostrar contraseña
    const showPasswordCheckbox = document.getElementById('showPassword');

    // Agrega un listener para el evento 'change' del checkbox de la contraseña
    showPasswordCheckbox.addEventListener('change', function() {
        // Cambia el tipo del input de contraseña
        passwordInput.type = this.checked ? 'text' : 'password';
    });

    // Obtiene la referencia al input de confirmar contraseña
    const confirmPasswordInput = document.getElementById('confirmPassword');
    // Obtiene la referencia al checkbox de mostrar confirmar contraseña
    const showConfirmPasswordCheckbox = document.getElementById('showConfirmPassword');

    // Agrega un listener para el evento 'change' del checkbox de confirmar contraseña
    showConfirmPasswordCheckbox.addEventListener('change', function() {
        // Cambia el tipo del input de confirmar contraseña
        confirmPasswordInput.type = this.checked ? 'text' : 'password';
    });
</script>
</body>
</html>