/* Estilos generales del cuerpo */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f1de;
    color: #5e503f;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
}

/* Estilos del contenedor principal */
main {
    background-color: #dad7cd;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 90%;
    text-align: center; /* Centrar el contenido dentro del main */
}

/* Estilos del encabezado h2 */
main h2 {
    color: #a3b18a;
    margin-bottom: 20px;
}

/* Estilos del párrafo introductorio */
main p {
    color: #5e503f;
    margin-bottom: 20px;
}

/* Estilos del contenedor del mensaje (inicialmente oculto) */
#message {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    color: #5e503f;
    margin-top: 1rem;
    padding: 0.8rem;
    border-radius: 5px;
    display: none; /* Se muestra con JavaScript */
    text-align: center;
}

/* Estilos del formulario */
#forgotPasswordForm {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espacio entre los elementos del formulario */
}

/* Estilos de los divs contened