<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es"
      th:fragment="layout (contenido)">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}">Título</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/registro_pasos.css}" id="estiloPasosRegistro">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"> </head>
</head>
<body>
<header>
    <h1>Proyecto Integrador</h1>
</header>

<main>
    <div th:insert="${contenido}"></div>
</main>

<footer>
    <p>© 2025 Salvador Trincado</p>
</footer>

</body>
</html>